In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('domains_location (1).csv')

In [4]:
df

      SourceCommonName location    Country
0           00221.info       SG    Senegal
1            01net.com       FR     France
2             01net.it       IT      Italy
3          0223.com.ar       AR  Argentina
4         022china.com       CH      China
...                ...      ...        ...
37797      zz.diena.lv       LG     Latvia
37798      zz.fjnet.cn       CH      China
37799        zz.mnw.cn       CH      China
37800           zz7.it       IT      Italy
37801    zznews.gov.cn       CH      China

[37802 rows x 3 columns]

In [8]:
df.columns

Index(['SourceCommonName', 'location', 'Country'], dtype='object')

In [18]:
count_countries=df['Country'].value_counts()

In [19]:
count_countries.head(10)

Country
United States     14111
United Kingdom     1950
Italy              1810
France             1041
Russia             1024
Canada              887
Germany             884
China               780
Turkey              725
India               686
Name: count, dtype: int64

In [20]:
count_countries.tail(10)

Country
Greenland         1
Guernsey          1
Isle of Man       1
Cook Islands      1
Guinea-Bissau     1
Micronesia        1
Aruba             1
American Samoa    1
Guadeloupe        1
Saint Helena      1
Name: count, dtype: int64